
h1 {
  font-size: 100px;
}
a{
  color: red 
}
p{
  color: rgb(180, 37, 168) 
}
p{
  font-size:50px
}
a{
  font-size: 70px
}
h1{
  font-size: 90px
}
body {
  background-image: url("videoblocks-animated-abstract-background-with-colorful-music-notes-seamless-loop_b3sprtpie_thumbnail-full01.png");
}

th {
  text-align: center;
}
table{
  font-size: 90px
}